[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "vim/bundle/calendar-vim"]
	path = vim/bundle/calendar-vim
	url = git://github.com/mattn/calendar-vim
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/xuyuanp/nerdtree-git-plugin
[submodule "vim/bundle/vim-ledger"]
	path = vim/bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/vimtex"]
	path = vim/bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/bundle/todo.txt-vim"]
	path = vim/bundle/todo.txt-vim
	url = git@github.com:freitass/todo.txt-vim.git
[submodule "vim/bundle/vim-fubitive"]
	path = vim/bundle/vim-fubitive
	url = https://github.com/tommcdo/vim-fubitive
[submodule "vim/bundle/vim-rhubarb"]
	path = vim/bundle/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "vim/bundle/rainbow_csv"]
	path = vim/bundle/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv
