[submodule "dotbot"]
    path = dotbot
    url  = https://github.com/anishathalye/dotbot
[submodule "bin/encryption"]
    path = bin/encryption
    url  = https://github.com/lbesnard/encryption
[submodule "beets/bandcamp"]
	path = beets/bandcamp
	url = https://github.com/unrblt/beets-bandcamp
[submodule "cheat/cheatsheets"]
	path = cheat/community
	url = https://github.com/cheat/cheatsheets
